[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==13.14"
pyyaml = "*"
jinja2 = "*"
pytimeparse = "*"
jsonschema = "*"
namesgenerator = "*"
tabulate = "*"

[dev-packages]
pytest = "*"
pylint = "*"
pydeps = "*"

[requires]
python_version = "3.8"
